@use '../1-base/main.scss';
@use '../1-base/reset.scss';

/* 
  ================================
  NAVIGATIONS
  ================================
*/

.__navigations {
    width: 20%;
    background-color: main.$ColorZero;
    height: 91.5vh;
    box-shadow: 0 0 10px #1e1e1e;
    z-index: 1;

    & .openClose {
       display: none; 
    }

    & .__item {
        display: flex;
        flex-direction: column;
        padding: 15px 20px;
        border-bottom: solid 1px main.$ColorMain;

        & .__title {
            font-size: reset.toRem(16);
            font-weight: 600;
            margin-bottom: 10px;
        }

        & * {
            font-size: reset.toRem(14);
            font-weight: 400;
        }

        & a,
        & summary {
            transition: all 0.3s;
            cursor: pointer;

            &:hover {
                color: main.$ColorFour;
            }
        }

        & a {
            width: 100%;
            display: flex;
            margin-left: calc(+15px);
        }

        & details {
            & details {
                margin-left: calc(+15px);
            }

            & summary {
                list-style: none !important;

                & .material-symbols-outlined {
                    margin-right: 6px;

                    //&.--f_close {}

                    &.--f_open {
                        display: none;
                    }
                }
            }

            &[open] {
                &>summary {
                    & .material-symbols-outlined {
                        &.--f_close {
                            display: none;
                        }

                        &.--f_open {
                            display: initial;
                        }
                    }
                }
            }
        }
    }
}

/* 
  ================================
  RESPONSIVE
  ================================
*/

// DESKTOP - 1200px
@include main.breakpoint(smashDesktop) {
    .__navigations {
        width: 180px;

        & .__item {
            padding: 10px 20px;

            & .__title {
                font-size: reset.toRem(15);
            }

            & * {
                font-size: reset.toRem(13);
            }

            & a {
                margin-left: calc(+10px);
            }

            & details {
                & details {
                    margin-left: calc(+10px);
                }
            }
        }
    }
}

/* LAPTOP - 1024px*/
@include main.breakpoint(smashLaptop) {
    .__navigations {
        width: 40px;
        transition: all 0.5s;
        position: absolute;
        left: 0;

        & .openClose {
            content: url('../img/more.svg');
            display: initial;
            position: absolute;
            top: 5px;
            right: 8px;
            transition: all 0.5s;
            cursor: pointer;
        }

        &.--active {
            width: 180px;

            & .openClose {
                rotate: 180deg;
                transition: all 0.5s;
            }

            & .__item {
                opacity: 1;
                visibility: visible;
            }
        }

        & .__item {
            transition: all 0.5s;
            opacity: 0;
            visibility: collapse;

            & .__title {
                font-size: reset.toRem(14);
                font-weight: 500;
            }

            & * {
                font-size: reset.toRem(12);
            }
        }
    }
}