@use '../1-base/main.scss';
@use '../1-base/reset.scss';

/* 
  ================================
  TABLES
  ================================
*/

table {
    width: 100%;

    &.--main {
        & thead {
            & tr {
                background: main.$ColorZero;
                border-bottom: solid 1px main.$ColorMain;

                & th {
                    padding: 5px 20px;
                    font-size: reset.toRem(14);
                    font-weight: 600;
                    text-align: start;

                    &:first-child {
                        width: 64px;
                    }
                }
            }
        }

        & tbody {
            & tr {
                cursor: pointer;
                transition: all 0.5s;

                &:hover {
                    background-color: main.$ColorZero;
                }

                &.--selected {
                    background-color: #62451d;
                    cursor: auto;
                }

                & td {
                    padding: 5px 20px;
                    font-size: reset.toRem(13);
                    text-align: start;

                    &:first-child {
                        background: url('../img/favorite.svg') no-repeat center;
                        width: 64px;
                        cursor: pointer;

                        &.--favorited {
                            background: url('../img/favorited.svg') no-repeat center;
                        }
                    }

                    &.--copy {
                        position: relative;
                        padding-right: 25px;

                        &::after {
                            content: '';
                            width: 25px;
                            height: 25px;
                            @include main.FlexCenCen;
                            background: url('../img/copy.svg') no-repeat center;
                            position: absolute;
                            right: 0;
                            top: 1px;
                            cursor: pointer;
                            opacity: 0;
                            transition: all 0.5s;
                        }

                        &:hover {
                            &::after {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* 
  ================================
  RESPONSIVE
  ================================
*/

// DESKTOP - 1200px 
@include main.breakpoint(smashDesktop) {
    table {
        &.--main {
            & thead {
                & tr {
                    & th {
                        padding: 5px 10px;

                        &:first-child {
                            width: 40px;
                        }
                    }
                }
            }

            & tbody {
                & tr {
                    & td {
                        padding: 5px 10px;

                        &:first-child {
                            width: 40px;

                            background: url('../img/favorite.svg') no-repeat center left 10px;
                            background-size: 20px;
                            cursor: pointer;

                            &.--favorited {
                                background: url('../img/favorited.svg') no-repeat center left 10px;
                                background-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// TABLET BIG - 900px*
@include main.breakpoint(smashTabletBig) {
    table {
        width: 100%;
        min-width: 820px;

        &.--main {
            & thead {
                & tr {
                    & th {
                        font-size: reset.toRem(13);
                    }
                }
            }

            & tbody {
                & tr {
                    & td {
                        font-size: reset.toRem(12);

                        &.--copy {
                            position: relative;
                            padding-right: 25px;

                            &::after {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}