@use 'reset';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
// CONTAINER VARIABLE
$Container: reset.toRem(1380); // Adicionar 40px no valor do container para uso de padding no responsivo 


// VARIABLES COLORS
$ColorMain: #2a2a28;
$ColorZero: #3a3a38;
$ColorSecond: #1e1e1e;
$ColorOne: #0f0f0f;
$ColorTwo: #d40101;
$ColorThree: #bfbfbf;
$ColorFour: #2489d8;

// DISPLAY FLEX
@mixin FlexBetCen {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

@mixin FlexAroCen {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

@mixin FlexCenCen {
   display: flex;
   justify-content: center;
   align-items: center;
}

/**/

body {
   background: $ColorMain;
   font-family: 'Poppins', sans-serif;
   font-weight: 400;
   letter-spacing: 0px;

   & * {
      color: #fff;
   }

  &::-webkit-scrollbar {
      width: 5px;
      background-color: $ColorThree;
  }
  
  &::-webkit-scrollbar-thumb {
      background-color: $ColorOne;
  }
}

p {
   font-family: 'Poppins', sans-serif;
   line-height: 1.5;
   font-weight: 400;
   letter-spacing: 0.3px;
   margin-bottom: 20px;
   font-size: reset.toRem(14);
}

// BREAKPOINTS

@mixin breakpoint($point) {
   @if $point ==smashDesktopLarge {
      @media screen and (max-width: 87.5rem) {
         @content ;
      }

      // 1400px
   }

   @else if $point ==smashDesktop {
      @media (max-width: 75rem) {
         @content ;
      }

      //1200px
   }

   @else if $point ==smashLaptop {
      @media (max-width: 64rem) {
         @content ;
      }

      //1024px
   }

   @else if $point ==smashTabletBig {
      @media (max-width: 56.25rem) {
         @content ;
      }

      //900px
   }

   @else if $point ==smashTablet {
      @media (max-width: 37.5rem) {
         @content ;
      }

      //600px
   }

   @else if $point ==smashMobile {
      @media (max-width: 25rem) {
         @content ;
      }

      //400px
   }

   @else if $point ==smashContainer {
      @media (max-width: $largureContainer) {
         @content ;
      }
   }
}


// largureContainer -> BREAKPOINT DA LARGURA DO CONTAINER

/*CONTAINER*/
.container {
   margin: 0 auto;
   padding-left: 20px !important;
   padding-right: 20px !important;
   //max-width: $Container;
}